<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H1-B Prediction</title>

    <!-- Bootstrap Attachments -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">

    <!-- CSS -->
    <!-- <link rel="stylesheet" href="{{  url_for('static',filename='stylesheets/styles.css')  }}" /> -->
    <link rel="stylesheet" href="/static/stylesheets/styles.css">
</head>

<body>

    <!-- Heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">H1B Visa Approval</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <form action="\predict" method="post">

            <h2 class="heading-text">H1B Visa Approval Prediction</h2> <!-- Heading -->

            <div class='row'>
                <!-- -----------------------------1------------------------- -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title card-year">Application Year</h5>
                            <input id="first" name="year" type="number">
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <br>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <select name="SOC_NAME">
                                <option value="">Occupation Code</option>
                                <option value="0">Education</option>
                                <option value="1">Administrative</option>
                                <option value="2">Others</option>
                            </select>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <br>

            </div>

            <div class="row">
                <!-- -----------------------------2------------------------- -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <select name="FULL_TIME_POSITION">
                                <option value="">Application Position</option>
                                <option value="1">Yes(Full-Time only)</option>
                                <option value="0">No(Part-Time only)</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title card-prev-wage">Prevailing Wage</h5>
                            <input id="fourth" name="prev-wage" required="required" type="number">
                        </div>
                    </div>
                </div>
            </div>

            <input type="submit" value="Predict" class="btn btn-secondary submit-button">

        </form>


        <br>
        <br>

        <div class="prediction">
            <h3>{{ prediction_text }}<h3></h3>
        </div>
    </div>







    <!-- JavaScript -->
    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>

</body>

</html>